.head {
	background-color: #FFCC99;
	text-align: center;
	color: white;
	padding: 20px;
}

.topnav button{
	background-color: blueviolet;
	border: blueviolet;
  	color: white;
  	text-align: center;
  	margin-right: 35px;
  	padding: 10px 24px;
}

#card1 {
	background-color: orange;
}

#card2 {
	background-color: skyblue;
}

#card4 {
	background-color: indianred;
}
#card5 {
	background-color: grey;
}
#card6 {
	background-color: yellow;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0);
	max-width: 300px;
	text-align: center;	
	float: left;
	margin: 70px;
}
.card img{
	width: 250px;
	height: 250px;
}
 image {
 	height: auto;
 	width: auto;
 }


.container {
	content: "";
	display: table;
	margin: 5px;
}

